<ul class="menu">

    <li><a class="{% if request.resolver_match.view_name == 'main' %}
                        active
                      {% endif %}" href="{% url 'main' %}">домой</a></li>
    <li><a class="{% if request.resolver_match.view_name == 'products:index' %}
                        active
                      {% endif %}" href="{% url 'products:index' %}">продукты</a></li>
    <li><a class="{% if request.resolver_match.view_name == 'contacts' %}
                        active
                      {% endif %}" href="{% url 'contacts' %}">контакты</a></li>
</ul>