{% extends 'mainapp/base.html' %}
{% block title %}
    <title>Главная</title>
{% endblock %}
{% block content %}
{% include 'mainapp/includes/inc_menu.html' %}

{% if user.is_authenticated %}
    <div>{{user.username|title}}</div>
    <a href="{% url 'auth:logout' %}">Выход</a>
{% else %}
    <a href="{% url 'auth:login' %}">Войдите</a> или <a href="{% url 'auth:register' %}">зарегестрируйте</a>
{% endif %}
    <ul>
        {%for product in products%}
            <li>{{product.name}} ({{ product.category }})</li>
        {%endfor%}
    </ul>
    <h1 class="test-class">Главная</h1>
{% endblock %}
